{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<div class="media">
    <div class="media-body">
        <h2 class="account-heading">Hi {{ current_user.name|capitalize }}</h2>
        <p class="text-secondary">email: {{ current_user.email }}</p>
        <p class="text-secondary">status: {{ current_user.role }}</p>
        <p class="text-secondary">Your books <hr/>
            {% for book in current_user.books %}
                <div>{{ book }}</div>
            {% endfor %}
        </p>
        <hr/>
    </div>
</div>

<div>
{{ wtf.quick_form(form) }}
</div>
{% endblock page_content %}